{% block body %}
    <div class="container">
        <table>
            <th>Name</th>
            <th>Age</th>
            <th>Birthday</th>
            <th>Rank</th>
        </table>
    </div>
{%endblock%}
