<footer class="container-fluid text-center">
    <p>Carolina Family Karate</br>
       11 Jamie Lane
       Lugoff, SC 29078</br>
       Phone: 803-272-1327 FREE</br>
       Email: cfkkarate@gmail.com 
    </p>
</footer>