{% block body %}
    <div class="container">
        <div class="row">
            <div>
                <h3>New Student</h3>
            </div>
            <form class="form" id="add_new_student" action="/admin/add_student" method="post">
                <div>
                    <strong>Name</strong>
                    <br/>
                    <input                        
                        class="form-control col-xs-6"
                        style="width:50%;"                        
                        name="student_name"
                        type="text"                        
                        placeholder="Insert Student Name">
                </div>
                <br/>
                <br/>
                <div>
                    <strong>Age</strong>
                    <input
                        class="form-control"
                        style="width:50%;"
                        name="student_age"
                        type="text"
                        placeholder="Insert Student Age">
                </div>
                <div>
                    <strong>Birthdate</strong>
                    <input  
                        id="student_birthdate"
                        style="width:50%;"
                        class="form-control"
                        name="student_birthdate" 
                        type="text"                         
                        placeholder="Insert Student Birthdate">
                </div>
                <div>
                    <strong>Rank</strong>
                    <input 
                       class="form-control" 
                       style="width:50%;"
                       name="student_rank"
                       id="student_rank" 
                       placeholder="Insert Student Rank">
                </div>
                <button type="submit" 
                        class="btn btn-default">
                    Submit
                </button>
            </form>            
        </div>        
    </div>
{%endblock%}
