{% block body %}
    <div class="container">
        <div class="row">
            <strong>Student Successfully Added</strong>                            
        </div>        
    </div>
{%endblock%}
