<footer class="container-fluid text-center">
    <div class="col-xs-2 margin-top-10">
        <img class="ep-top-20" id="femblem" src="/images/shotokantigerfooter.png" alt='shotokan tiger'>
    </div>
    <div class="col-xs-8">
        <p id="fcontact">Carolina Family Karate</br>
           11 Jamie Lane
           Lugoff, SC 29078</br>
           Phone: 803-272-1327 FREE</br>
           Email: cfkkarate@gmail.com 
        </p>
    </div>
    <div class="col-xs-2">
    </div>
</footer>