<div class="container ep-20">
    <!-- Skip the carousel for now IMO -->
    {# include 'Homepage/Index/carousel.html.twig' #}
    <div  class="row">
        <!-- you forgot to define columns -->
        <div id="titlebox" class="col-xs-12">
            <h1 class="text-center" id="title">
                Carolina Family Karate
            </h1>
        </div>
    <div>
    <div class="row">
        <div class="col-md-9 ep-20" id="copy">
            <h2>
                Why Martial Arts?
            </h2>
            <p>
                Simply put, Martial Arts training will build physical strength and 
                strength of character. Martial Arts are for everyone, regardless of 
                age or body type. And since it encourages a lifestyle of total well-
                being, Martial Arts training is a lifelong journey rather than a 
                destination.
            </p>
            <h2>
                Why Our School?
            </h2>
            <p>
                We could say we’re the best in the area because we offer so much more
                than other schools. But we’ll let you make that decision! From our 
                friendly, knowledgeable and well-trained staff to our clean, safe and
                well-equipped facility, we have the perfect program for YOU. We’re 
                kid-focused and adult-savvy. We’ll not only teach you all the techniques 
                and moves, but we’ll also educate you in the Martial Arts way: 
                Respect, Self-Confidence and Discipline.</p>
            
            <p><strong>Parents:</strong> We guarantee to transform your child into a motivated, 
                self-starter who will clean his/her room without being asked! So come grow 
                with us… and bring the entire family! Our leadership program is 
                why many teachers and doctors send students to us.
            </p>
            <p>
                The history of our school is known as the first in the industry to in
                corporate various levels of Leadership to progress through the curri
                culum. We develop students into not just good kickers but well-round
                ed individuals. Athletes improve their capabilities well beyond expe
                ctations. Shy children are transformed into strong individuals that 
                don’t follow the crowd. Aggressive or hyper children learn to channe
                l the energy. Dr. Steve Reel (formerly of Ben Lippen Private Schools
                Assistant Headmaster) said; <i>"My whole family loved your program espe
                cially because you conducted classes the whole family can adjust to 
                and the Leadership Levels and challenges are priceless in an ever ch
                allenging world."</i>
            </p>

            <p>
                The history of our style is rooted in Shotokan which was developed by
                the great <a href="/about_us">Gichin Funakoshi</a>.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" 
                 src="{{ asset('images/4week.png') }}" 
                 alt="4 week special">
            <br/>
            <img class="img-responsive" 
                 src="{{ asset('images/3classspecial.png') }}" 
                 alt="3 class special">
        </div>
    </div>
</div>