<div class="container">
    <div class="row">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/images/shotokantigeremblem.jpg">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Sensei John Smith</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum 
                nisi leo, et feugiat felis convallis vitae. Nulla eget arcu metus. Nulla
                porta maximus libero, a varius dui viverra malesuada. Maecenas malesuada
                posuere ligula ut malesuada. Nam a turpis a nisl vulputate pellentesque.
                In vestibulum sit amet felis a facilisis. Donec vel purus vitae nibh sod
                ales congue nec vitae velit. Donec tortor justo, consectetur quis elit l
                obortis, bibendum semper tortor. Sed eu nulla diam. Aliquam erat volutpa
                t. Aliquam a auctor sem, vel consequat tellus.</p>
            </div>
        </div>
    </div><br />          
    <div class="row">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/images/shotokantigeremblem.jpg">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Sensei Jane Smith</h4>            
                <p>Quisque quis libero non dui rutrum gravida at ut urna. Ut ut dictum tellus, eget
                pharetra magna. Proin quis semper ex. Pellentesque dignissim a dui id facilisis.
                Fusce semper nec est non eleifend. Integer vel posuere velit. Quisque consectetu
                r urna purus, vitae semper elit dictum a. Proin egestas urna nisl. Donec posuere
                odio eget tellus malesuada, vitae mollis leo vulputate. Sed posuere pretium elit
                , a dapibus felis. Morbi tincidunt id massa id lobortis.</p>
            </div>
        </div>
    </div>    
</div>
